/* Hijacking the wp-caption styles to make it look the way we want*/
.wp-caption {
  max-width: 100%;
  background: rgba(255,244,231,0.4);
  color: #000;
  border: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
}

.wp-caption img {
  box-shadow: 0px 3px 10px -2px #000;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 767px) {
  .wp-caption {
    display: block!important;
    width: 100%!important;
    margin: 0!important;
  }
  .wp-caption img {
    width: 100%!important;
  }
}

.wp-caption.alignright {
  margin-left: 1rem;
}

.wp-caption.alignleft {
  margin-right: 1rem;
}

.wp-caption:hover {
  box-shadow: 0px 3px 15px -2px #333;
  cursor: pointer;
}

.wp-caption .wp-caption-text {
  white-space: normal;
  text-align: left;
  padding: 0.25rem 0.5rem;
  margin: 0;
  font-size: 0.8rem;
}

/* Styles for the modal*/
.modal.ic_media_modal {
  padding-left: 17px;
}

.modal.ic_media_modal .modal-header {
  border-bottom: 0;
  text-transform: uppercase;
  text-align: left;
}

.ic_modal_image {
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.ic_modal_metadata {
  padding: 0 1rem;
}

.ic_modal_metadata h6 {
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-bottom: 0;
}

.ic_modal_metadata p {
  font-size: 0.95rem;
  margin-bottom: 0em;
}

.ic_modal_metadata_field {
  margin-top: 0.75rem;
}

@media (min-width: 1024px) {
  .modal.ic_media_modal .modal-body {
    display: flex;
  } 

  .ic_modal_metadata {
    order: 0;
    min-width: 325px;
  }

  .ic_modal_image {
    order: 1;
    margin-bottom: 0;
  }

}

.modal.ic_media_modal .modal-footer {
  border-top: 0;
}